body{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: red;
    width: 100%;
}
.container{
    width: 80%;
    height: 800px;
    top: 20px;
}
.container p{
    color: white;
    font-size: 20px;
}
footer{
    background-color: yellow;
    width: 100%;
}
.logo{
    text-align: center;
    width: 100%;
}
UL{
    text-align: center;
}